{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="bg-light p-3 py-4 h-100">
                    {% include 'partials/flash.html.twig' %}
                    <h1>Connexion</h1>
                    <form method="post" action="{{ path('security_login') }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|raw }}</div>
                        {% endif %}
                        <div class="form-group mt-3">
                            <label for="inputEmail">Adresse email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group mt-3">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-primary mt-3" type="submit">
                            Se connecter
                        </button>

                        <div class="float-end my-4">
                            <a href="{{ path('security_register') }}" class="d-block small text-secondary">S'inscrire</a>
                            <a href="{{ path('user_reset_password') }}" class="small text-secondary">Mot de passe oublié</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}