{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div id="trick-show" class="bg-light">
        <div class="container">
            <div id="trickMediaCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% if trick.image %}{{ asset('uploads/images/' ~ trick.image.filename) }}{% else %}{{ asset('build/images/default.png') }}{% endif %}" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#trickMediaCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#trickMediaCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        {% if app.user %}
            <div class="my-3">
                <form action="{{ path('trick_delete', {id: trick.id}) }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-trick-' ~ trick.id) }}">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        Supprimer
                    </button>
                </form>
            </div>
        {% endif %}
        <p class="mt-5">
            {{ trick.description|raw }}
        </p>
        <hr class="mt-5">
        <div class="d-flex justify-content-between">
            <div>
                <span>Catégorie: </span>
                <a href="{{ path('trick_list', {slug: trick.trickCategory.slug}) }}"><span class="badge bg-primary">{{ trick.trickCategory.name }}</span></a>
            </div>
            <div>
                    <span class="fst-italic fs-6 text-secondary">
                        <strong>Ajouté le:</strong> {{ trick.createdAt|date('d/m/Y à h:i') }}
                        {% if trick.updatedAt %}
                            <br>
                            <strong>Dernière modification le:</strong> {{ trick.updatedAt|date('d/m/Y à h:i') }}
                        {% endif %}
                    </span>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">Commentaires</div>
            <div class="card-body">
                {% for comment in trick.trickComments %}
                    <div class="d-flex text-muted pt-3">
                        <img src="https://www.gravatar.com/avatar/d" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" style="max-height: 55px;">
                        <div class="pb-4 border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">{{ comment.user.firstname }} {{ comment.user.lastname }}</strong>
                                <span class="small">Le {{ comment.createdAt|date('d/m/y à h:i:s') }}</span>
                            </div>
                            <span class="d-block">{{ comment.message }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if app.user %}
            {{ form_start(form) }}
            <div class="mt-4">
                {{ form_row(form.message) }}
                <button class="btn btn-primary mt-3" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        {% else %}
            <div class="alert alert-secondary">Vous devez <a href="{{ path('security_login') }}">être connecté</a> afin de pouvoir écrire un message</div>
        {% endif %}
    </div>
{% endblock %}